label {
    font-weight: bold;
    padding-left: 45px;
}

.form {
    width: 400px;
    height: 360px;
    background: #edeff1;
    margin-left: 450px;
    margin-top: 150px;
    padding-top: 20px;
    border-radius: 10px;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 309px;
    height: 35px;
    margin: 15px auto;
    background: #fff;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 220px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    font-size: 17px;
}