table {
  width: 100%;
  border-collapse: collapse;
}

th{

}

td {
  border: 2px solid grey;
  height: 50px;
  width : 200px;
  vertical-align: middle;
  text-align: center;
}

.horizontal {
  border-top-color: blue;
  border-bottom-color: blue;
}

.end-left {
  border:3px dashed #635;
  padding:2px;
  box-sizing: border-box;
  stroke-dasharray: 1, 1;
  stroke-dashoffset: 100;
}

.end-left2 {
  outline: 5px solid red;
  stroke-dasharray: 0;
  border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 27;
}

.container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


