<div class="partieDiv">

    <h1>Liste parties disponibles :</h1>

    <div class="nomJoueurDiv">
        <label>Nom du joueur : </label>
        <input [(ngModel)]="nomJoueur" placeholder="Name"/>
    </div>

    <div *ngFor="let partie of listeVuePartie">
        <div class="choixPartieDiv" (click)="setPartieSelectionne(partie)"
             [class.selected]="partie === partieSelectionne">
            <div> {{partie.guidPartie}}</div>
            <div> {{partie.nomJoueurHote}}</div>
            <div> {{retournerNiveau(partie)}}</div>
        </div>
    </div>

    <button ng-model="button" (click)="rejoindrePartie()" [disabled]="nomJoueurValable()">Rejoindre Partie</button>

</div>

