<div class="form">
    <form ngNativeValidate (ngSubmit)="soummetre(f)" #f="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" ngModel name="email" placeholder="Entrer votre email" required>
        </div>
        <div class="form-group">
            <label for="motDePasse">Mot de passe</label>
            <input type="password" class="form-control" ngModel name="motDePasse" placeholder="Entrer votre mot de passe" required>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!f.form.valid">Se connecter</button>
        <a id="lien1">nouveau administrateur?</a>
        <a id="lien2">mot de passe oublié?</a>
    </form>
</div>