<div class='container'>
  <div class='player_info'>
    <div class='titre'>{{joueur.nomJoueur}}</div>
    <div>{{joueur.pointage}} mots trouvés</div>
    <div>{{motEnCoursJ1}}</div>
  </div>

  <div>
    <div class='titre'>Infos de jeu</div>
    <div>{{tempsRestant}}</div>
    <button (click)="activerCheatMode()">Cheat Mode</button>
  </div>
  <div class='player_info' [hidden]="nbJoueurs === '0' ">
    <div class='titre' >{{joueur2.nomJoueur}}</div>
    <div>{{joueur2.pointage}} mots trouvés</div>
    <div>{{motEnCoursJ2}}</div>

  </div>
</div>
