<div class='container'>
  <div class='player_info'>
    <div class='titre'>Joueur 1</div>
    <div>{{motTrouveJ1}} mots trouvés</div>
    <div>{{motEnCoursJ1}}</div>
  </div>

  <div>
    <div class='titre'>Infos de jeu</div>
    <div>{{tempsRestant}}</div>
    <button (click)="activerCheatMode()">Cheat Mode</button>
  </div>
  <div class='player_info' [hidden]="nbJoueurs === '0' ">
    <div class='titre'>Joueur 2</div>
    <div>{{motTrouveJ2}} mots trouvés</div>
    <div>{{motEnCoursJ2}}</div>

  </div>
</div>
