<h4 class="alert alert-warning" *ngIf="erreursCircuit()">
    <strong>Warning! </strong><br>{{message}}</h4>
<h4 class="alert alert-success" *ngIf="estValide()">
    <strong>Success! </strong><br>Votre dessin est terminé mais vous pouvez le modifier encore.</h4>
<br>
<br>
<div #container (contextmenu)="oncontextmenu()" (click)="sourisClique($event)" (mousemove)="sourisDeplacement($event)" (mousedown)="sourisBas($event)" (mouseup)="sourisRelache($event)"></div>
<br>
<app-pistevalidator-component *ngIf="estValide()" [pisteAmodifier]="pisteAModifier"></app-pistevalidator-component>
