<h4 class="alert alert-warning" *ngIf="erreursCircuit()">
    <strong>Warning! </strong><br>{{message}}</h4>
<h4 class="alert alert-success" *ngIf="condition()">
    <strong>Success! </strong><br>Votre dessin est terminé mais vous pouvez le modifier encore.</h4>
<button type="button" class="btn btn-primary-outline pull-right">
        <i class="fa fa-list" aria-hidden="true"></i>
        <a href="http://localhost:4200/listePiste">Liste piste</a>
      </button>
<br>
<br>
<div #container (contextmenu)="oncontextmenu()" (click)="onMouseClick($event)" (mousemove)="onMouseMove($event)" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"></div>
<br>
<app-pistevalidator-component *ngIf="condition()" [points]="listePoints()"></app-pistevalidator-component>