<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading" (click)="surClick()">
            <strong>{{ piste.nom }}</strong>
        </div>
        <div class="panel-body" *ngIf="display">
            <div id="info">
                <p>Type Course: {{ piste.typeCourse }}</p>
                <p>Description: {{ piste.description }}</p>
                <p>Cote appréciation: {{ piste.coteAppreciation }}/5</p>
                <p>Nombre de fois jouée: {{ piste.nombreFoisJouee }} </p>
                <button type="button" (click)="montrerLesScores()">Meilleurs scores</button>
            </div>
            <div id="image">
                <img src="{{ piste.vignette }}" alt="">
            </div>
            <div *ngIf="score" id="score">
                <app-tableauscore-component [temps]="piste.meilleursTemps"></app-tableauscore-component>
            </div>

        </div>


        <footer class="panel-footer">
            <div>
                <a [routerLink]="['/generationpiste']" class="config" class="btn btn-success" (click)="commencerPartie()">
                    <i class="fa fa-flag-checkered" aria-hidden="true"></i>Choisir une Course
                </a>
                <a [routerLink]="['/createurPiste']" class="config" class="btn btn-warning" (click)="editer()">
                    <i class="fa fa-cog" aria-hidden="true"></i>Modifier
                </a>
                <a class="config" class="btn btn-danger" (click)="supprimer()">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>Supprimer
                </a>

            </div>
        </footer>
    </div>
</div>