.panel-heading,
.config {
    cursor: pointer;
}

a,
i {
    margin-right: 10px;
}

.panel>.panel-heading:hover {
    background-image: none;
    background-color: red;
    color: white;
}

p {
    font-family: fantasy
}

#image {
    float: right;
}

img {
    height: 100px;
    width: 100px;
}

#info {
    float: left;
}

#score {
    float: left;
}