<div class="han" class="col-md-8 col-md-offset-2">
    <app-piste-component [admin]="estUnAdmin" [piste]="piste" *ngFor="let piste of listePistes"></app-piste-component>
    <button *ngIf="estUnAdmin" type="button" class="btn btn-primary-outline pull-right">
      <i class="fa fa-plus"></i>
      <a [routerLink]="['/createurPiste']">Creer une Nouvelle Piste</a>
    </button>
    <button *ngIf="estUnAdmin" type="button" class="btn btn-primary-outline pull-right">
      <i class="fa fa-user" aria-hidden="true"></i>
      <a [routerLink]="['/ModifierPass']">Modifier votre mot de passe</a>
    </button>
</div>