<div>
    <div class="radio">
        <label><input (click)="clickerAdmin()" type="radio" name="optradio">Administrateur</label>
        <label><input (click)="clickerJoueur()" type="radio" name="optradio">Joueur</label>
    </div>
    <div *ngIf="administrateurChoisie" class="form">
        <form ngNativeValidate (ngSubmit)="soummetre(f)" #f="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" ngModel name="email" placeholder="Entrer votre email" required>
            </div>
            <div class="form-group">
                <label for="motDePasse">Mot de passe</label>
                <input type="password" class="form-control" ngModel name="motDePasse" placeholder="Entrer votre mot de passe" required>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!f.form.valid">Se connecter</button>
            <a href="">mot de passe oublié?</a>
        </form>
    </div>
    <div *ngIf="joueurChoisie" class="form2">
        <form ngNativeValidate (ngSubmit)="soummetre(f)" #f="ngForm">
            <div class="form-group">
                <label for="nomJoueur">Entre votre nom de joueur</label>
                <input type="text" class="form-control" ngModel name="nomJoueur" placeholder="Entrer votre nom de joueur" required>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!f.form.valid">Valider</button>
        </form>
    </div>
</div>