<div class="configurationPartieDiv col-md-8 col-md-offset-2">
    <h1>Configuration de partie</h1>
    <label for="nombreTour">Nombre de tours</label>
    <button class="btn" (click)="diminuerNombreTour()"><i class="fa fa-minus" aria-hidden="true"></i></button>
    <input type="text" [(ngModel)]="nombreDesTours" disabled>
    <button class="btn" (click)="augmenterNombreTour()"><i class="fa fa-plus" aria-hidden="true" ></i></button>
    <div class="form-group">
        <label for="TypeCourse">Type de course</label>
        <select class="form-control" id="TypeCourse" ngModel name="typeCourse" required>
      <option>Amateur</option>
      <option>Professionnel</option>
    </select>
    </div>
    <a [routerLink]="['/generationpiste']" class="config" class="btn btn-success" (click)="commencerPartie()">
        <i class="fa fa-flag-checkered" aria-hidden="true"></i>Commencer une partie
    </a>
</div>